@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
#logo{
    margin:  0 70px 0 70px;
    cursor: pointer;
    align-items: center;
    caret-color: transparent;
}
#navbar{
    display: flex;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
}
nav{
    background: #262626;
    display: flex;
    align-items: center;
}
nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding-top: 40px;
    color: rgb(245, 231, 231);
   
}
nav ul li a{
    color: rgb(245, 231, 231);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    line-height: 70px;
    padding: 0 30px;
}
nav ul li a:hover,
nav ul li a.active{
    background: linear-gradient(45deg, #ffffff, #ebf7f0);
    color: #210c20;
    text-decoration: none;
}
.footer{
	background-color: #f7f3f3;
	padding: 70px 0;
    
}
#pp1{
    color: #bbbbbb;
}
.contain{
	max-width: 1170px;
	
	margin: auto;
}
footer{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
    font-size: 26px;
    color: #262626;
    text-decoration: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #eb5bbb;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    color: #cdb390;
    display: block;
    transition: all 0.3s ease;
    
}
.footer-col ul li a:hover{
   color: #262626;
   padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
    font-weight: bold ;
    
}
/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 25%;
        margin-bottom: 30px;
    }
}
.footer-col a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
}
#navbar ul li a:hover,
#navbar ul li a.active{
    background: linear-gradient(45deg, #ffffff, #ebf7f0);
    color: #210c20;
    text-decoration: none;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background: linear-gradient(45deg, #eb5bbb, #45a5ff);
    bottom: -10px;
    
    right: 50%;
    transform: translateX(-10%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

/*col2*/
.footer2{
	background-color: #262626;
	padding: 70px 0;
    
}
.footer-col2 ul{
	list-style: none;
}
.footer-col2{
	width: 25%;
	padding: 0 15px;
}
.footer-col2 h4{
    font-size: 18px;
    color: #ffffff;
    text-decoration: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col2 h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: linear-gradient(45deg, #eb5bbb, #45a5ff);
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}
.footer-col ul2 li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col2 ul li a{
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col2 ul li a:hover{
   color: #ffffff;
   padding-left: 8px;
}
.footer-col2 .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col2 .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/*responsive*/
@media(max-width: 767px){
    .footer-col2{
        width: 25%;
        margin-bottom: 30px;
    }
}
.footer-col2 a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
}