*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.full-page
{
    height: 100vh;
	width: 100%;
	background-image: url(image/banner.jpg);
	background-position: center;
	background-size: cover;
}
.logo
{
	caret-color: transparent;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
	caret-color: transparent;
}
nav ul li a:hover
{
    color: rgb(102, 9, 9);
}
.form
{
    grid-area: form;
}
.info
{
    grid-area: info;
}
.map
{
    grid-area: map;
}
.contact
{
    padding: 40px;
    background:rgba(0,0,0,0.4);
}
.box
{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 6fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-right: 100px;
    margin-left: 84px;
}
form
{
   width: 90%;
   max-width: 600px; 
}
/* form */
.input-group
{
    margin-bottom: 30px;
    position: relative;
}
input, textarea
{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}
label
{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
    caret-color: transparent;
}
button
{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
    caret-color: transparent;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label
{
    top: -35px;
    font-size: 14px;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group
{
    flex-basis: 48%;
}
/* info */
.info h3
{
    color: #fff;
    caret-color: transparent;
    margin-bottom: 10px;
}
.info .infoBox div
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    caret-color: transparent;
}
.info .infoBox div span
{
    min-width: 40px;
    height: 40px;  
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border-radius: 50%; 
    background: rgb(102, 9, 9);
    margin-right: 15px;
}
.info .infoBox div p
{
    color: #fff;
}
.info .infoBox div a
{
    color: #fff;
    text-decoration: none;
}
.sci
{
    margin-top: 20px;
    margin-left: 100px;
    caret-color: transparent;
    display: flex;
}
.sci li
{
    list-style: none;
    margin-right: 50px;
}
.sci li a
{
    font-size: 2em;
    color: #ccc;
}
.sci li a:hover
{
    color: #fff;
}
.map
{
    padding: 0;
}
.map iframe
{
    width: 100%;
    height: 100%;
}