*{
    padding: 0;
    margin: 0;
}
#logo{
    margin:  0 70px 0 70px;
    cursor: pointer;
    align-items: center;
    caret-color: transparent;
}
#navbar{
    display: flex;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
}
#navbar{
    background: #262626;
    display: flex;
    align-items: center;
}
#navbar ul{
    flex: 1;
    text-align: center;
}
#navbar ul li{
    list-style: none;
    display: inline-block;
    padding-top: 40px;
    color: rgb(245, 231, 231);
   
}
#navbar ul li a{
    color: rgb(245, 231, 231);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    line-height: 70px;
    padding: 0 30px;
}
#navbar ul li a:hover,
#navbar ul li a.active{
    background: linear-gradient(45deg, #ffffff, #ebf7f0);
    color: #210c20;
    text-decoration: none;
}
body{
    font-family:'Open Sans', sans-serif ;
    font-size: 14px;
    color: #111;
    line-height: 1.15;
}

.top{
    height: 100%;
    width: 300px;
    position: relative;
  }
  .top .menu-btn{
    position: absolute;
    left: 20px;
    top: 10px;
    background: #4a4a4a;
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  #btn:checked ~ .menu-btn{
    left: 247px;
  }
  .top .menu-btn i{
    position: absolute;
    
    font-size: 23px;
    transition: all 0.3s ease;
  }
  .top .menu-btn i.fa-times{
    opacity: 0;
  }
  #btn:checked ~ .menu-btn i.fa-times{
    opacity: 1;
    transform: rotate(-180deg);
  }
  #btn:checked ~ .menu-btn i.fa-bars{
    opacity: 0;
    transform: rotate(180deg);
  }
  #sidebar{
    position: fixed;
    background: #404040;
    height: 100%;
    width: 270px;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
  }
  #btn:checked ~ #sidebar{
    left: 0;
  }
  #sidebar .title{
    line-height: 65px;
    text-align: center;
    background: #333;
    font-size: 25px;
    font-weight: 600;
    color: #f2f2f2;
    border-bottom: 1px solid #222;
  }
  #sidebar .list-items{
    position: relative;
    background: #404040;
    width: 100%;
    height: 100%;
    list-style: none;
  }
  #sidebar .list-items li{
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
  }
  #sidebar .list-items li:hover{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
  }
  #sidebar .list-items li:first-child{
    border-top: none;
  }
  #sidebar .list-items li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
  }
  #sidebar .list-items li a i{
    margin-right: 20px;
  }
  #sidebar .list-items .icons{
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sidebar .list-items .icons a{
    height: 100%;
    width: 40px;
    display: block;
    margin: 0 5px;
    font-size: 18px;
    color: #f2f2f2;
    background: #4a4a4a;
    border-radius: 5px;
    border: 1px solid #383838;
    transition: all 0.3s ease;
  }
  #sidebar .list-items .icons a:hover{
    background: #404040;
  }
  .list-items .icons a:first-child{
    margin-left: 0px;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #202020;
    z-index: -1;
    width: 100%;
    text-align: center;
  }
  .content .header{
    font-size: 45px;
    font-weight: 700;
  }
  .content p{
    font-size: 40px;
    font-weight: 700;
  }
#wrapper{
    max-width: 1200px;
    margin: 0 0 0 300px;
}
.headline{
    text-align: center;
    margin:  40px 0px;
}
h3{
    font-size: 18px;
    color: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 2px solid black;
    display: inline-block;
    font-weight: 600;
}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
ul.products li{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.products li img{
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}
ul.products li:hover img{
    transform: scale(1.5);
}
ul.products li .product-top {
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thumb{
    display: block;
}
ul.products li .product-top .product-thumb img{
    display: block;
}
ul.products li .product-top a.buy-now{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color:#fff;
    padding: 8px 0;
    position: absolute;
    width: 100%;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}
ul.products li:hover a.buy-now{
    bottom: 0px;

}
ul.products li .product-info a{
    display: block;
    text-decoration: none;
}
ul.products li .product-info a.product-name{
    color: #334852;
    padding: 3px 0px;
}
ul.products li .product-info .product-price{
    color:#111;
    padding: 2px 0px;
    font-weight: 600;
}

.footer{
	background-color: #262626;
	padding: 70px 0;
    
}
#pp1{
    color: #bbbbbb;
}
.contain{
	max-width: 1170px;
	
	margin: auto;
}
footer{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-decoration: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: linear-gradient(45deg, #eb5bbb, #45a5ff);
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
   color: #ffffff;
   padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 25%;
        margin-bottom: 30px;
    }
}
.footer-col a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
}
#navbar ul li a:hover,
#navbar ul li a.active{
    background: linear-gradient(45deg, #ffffff, #ebf7f0);
    color: #210c20;
    text-decoration: none;
}